# MRPeasy API Configuration
MRPEASY_API_BASE_URL=https://api.mrpeasy.com/rest/v1
MRPEASY_API_KEY=r53492u8c34f72dc8
MRPEASY_API_SECRET=?*I3cluR6Jp.sFc.Y8W":SnO}$/t,7

# Backend Server Configuration
PORT=5000
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:3000
